<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ideas</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="src/css/styles.css" rel="stylesheet">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="src/modules/project/project.js"></script>
    <script src="src/modules/navigation/navigation.js"></script>
    <script src="src/modules/clock/clock.js"></script>
    <script src="src/modules/list/list.js"></script>
    <script src="src/modules/content/content.js"></script>
    <script src="src/init.js"></script>
</head>
<body ng-app="ideas">
<div ng-controller="navController"  id="navbar">
    <clock class="clock"></clock>
    <md-button class="md-raised md-primary nav-button" ng-disabled="selectedIndex == null" ng-click="addTask()">NEW</md-button>
    <ul>
        <li ng-repeat="cat in cats"><input ng-show="cat.inEdit" type="text" class="navigation nav-link" ng-class="{ 'is-active': $index == selectedIndex }" ng-click="itemClicked($index)" ng-model="cat.name" /><a ng-show="!cat.inEdit" class="navigation nav-link" ng-class="{ 'is-active': $index == selectedIndex }" ng-click="itemClicked($index)">{{ cat.name }}</a></li>
    </ul>
    <div class="nav-icons">
        <a ng-click="addCategory()" class="nav-icon nav-icon-add is-unactive"><i class="fa fa-plus fa-2x"></i></a>
        <a ng-click="toggleShowDone()" class="nav-icon nav-icon-check" ng-class="{ 'is-unactive': !filters.isDone}"><i class="fa fa-check fa-2x"></i></a>
    </div>
</div>
<div id="ideas" ng-controller="listController">
  <div class="list-header">
    <h2>{{ category.name }}</h2>
    <div class="list-settings">
      <a ng-click="removeCategory($event)" ng-show="category.inEdit"><i class="fa fa-trash-o fa-lg"></i></a>
      <a ng-click="editCategory()"><i class="fa fa-cogs fa-lg"></i></a>
    </div>
  </div>
    <ul class="list">
        <li ng-repeat="task in category.tasks" ng-hide="!filters.isDone && task.isDone"><div class="list-component">
            <input ng-show="task.titleInEdit" type="text" class="list-title" ng-model="task.name" ng-class="{ 'is-selected': $index == selectedIndex }" ng-click="taskClicked($index)">
            <a ng-show="!task.titleInEdit" class="list-title" ng-class="{ 'is-selected': $index == selectedIndex }" ng-click="taskClicked($index)">{{ task.name }}</a>
            <a ng-click="editTaskTitle(task)" class="list-icon list-icon-settings"><i class="fa fa-cogs fa-lg"></i></a>
            <a ng-click="removeTask($index)" class="list-icon list-icon-delete"><i class="fa fa-trash-o fa-lg"></i></a>
            <a ng-click="toggleDone(task)" ng-class="{ 'is-unactive': !task.isDone }" class="list-icon list-icon-check"><i class="fa fa-check fa-lg"></i></a>
        </div></li>
    </ul>
</div>
<div id="description" ng-controller="contentController">
    <div id="header">
        <div class="header-title">
            <h1>{{ task.name }}</h1>
        </div>
    </div>
    <div class="content" ng-show="task">
        <div class="con-edit">
            <a ng-click="editContent()" class="con-edit">Edit...</a>
        </div>
        <textarea ng-show="task.contentInEdit" class="con-text con-text-edit" ng-model="task.content"></textarea>
        <p ng-show="!task.contentInEdit" class="con-text">
          {{ task.content }}
        </p>
    </div>
</div>
</body>
</html>
