.clock {
  margin-top: 20%;
  margin-bottom: 10%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic;
}
