.list-header {
  margin-left: 5%;
  margin-top: 7%;
  color: $colorRed;
}

.list {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
  .list-component {
    font-size: 1.1vmax;
    border-bottom: solid #979797 1px;
    margin-bottom: 3%;
    padding-bottom: 3%;
    .list-title {
      margin-bottom: 20px;
      color: $colorBlue;
    }
    .is-selected {
      color: $colorGreen;
    }

    .list-icon {
      color: $colorRed;
      font-size: 1.1vmax;
      float: right;
      margin-right: 5%;
    }
    .is-unactive {
      color: $colorGray;
    }
  }
}