html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: $colorLight;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: $colorDark;
  width: 210px;
  color: $colorLight;
  .is-active {
    background-color: $colorLight;
    color: $colorBlue;
    font-family: Lato, sans-serif;
  }
}

#ideas {
  flex: 3 0px;
  -webkit-flex: 3 0px;
}

#description {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 3 0px;
  -webkit-flex: 3 0px;
  border-left: solid $colorRed 3px;
  #header {
    display: flex;
    display: -webkit-flex;
    color: $colorLight;
    background-color: $colorDark;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: $shadows;
    .header-title {
      margin-left: 10%;
    }
  }
}
