html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden;
}

body {
  background-color: $colorLight;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

nav {
  width: 210px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: $colorDark;
  width: 210px;
  min-width: 210px;
  height: 100%;
  color: $colorLight;
}

aside {
  flex: 3 0px;
  -webkit-flex: 3 0px;
}

input {
  background-color: $colorLight;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

article {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 3 0px;
  -webkit-flex: 3 0px;
  transition: all 1s;
  header {
    display: flex;
    display: -webkit-flex;
    color: $colorLight;
    background-color: #D7361D;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: 1px 2px 4px 1px $colorDark;
    .header-title {
      padding-left: 10%;
    }
  }
}

article.ng-hide {
  margin-right: -100%;
  padding: 0;
}
