/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 0px !important;
  width: auto !important;
  max-width: none !important; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow-x: hidden; }

body {
  background-color: #F0F2F2;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row; }

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic; }

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic; }

a {
  text-decoration: none; }

nav {
  width: 210px;
  height: 100%; }

.nav {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #2D2D2D;
  width: 210px;
  min-width: 210px;
  height: 100%;
  color: #F0F2F2; }
  .nav .is-active {
    color: #2795CA;
    font-family: Lato, sans-serif;
    width: 190px;
    padding-left: 40px; }

aside {
  flex: 3 0px;
  -webkit-flex: 3 0px; }

article {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex: 3 0px;
  -webkit-flex: 3 0px; }
  article header {
    display: flex;
    display: -webkit-flex;
    color: #F0F2F2;
    background-color: #2D2D2D;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: 3px 4px 8px 1px #000000;
    border-left: solid #ED5642 3px; }
    article header .header-title {
      padding-left: 10%; }

.content {
  flex-grow: 10;
  -webkit-flex-grow: 10;
  border-left: solid #979797 1px; }

.con-edit {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #2795CA;
  width: 48px;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: auto; }
  .con-edit a:hover {
    color: #BBCE28; }

.con-text {
  font-size: 16px;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 5%;
  padding-left: 2%;
  border-bottom: solid #ED5642 1px; }

.con-text-edit {
  width: 80%;
  height: 50%;
  border: 1px solid #2D2D2D; }

.clock {
  margin-top: 20%;
  margin-bottom: 10%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 100;
  font-style: italic; }

.navigation {
  color: #F0F2F2;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center; }

.nav-button {
  width: 135px;
  height: 32px;
  margin: 50px auto 50px auto;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300; }

.nav-link {
  padding-left: 25px;
  height: 37px;
  width: 140px;
  margin-top: 7px;
  margin-bottom: 4px;
  color: #2D2D2D;
  background-color: #F0F2F2;
  box-shadow: 3px 4px 8px 1px #000000; }

.nav-icons {
  font-size: 25px; }
  .nav-icons .nav-icon-tasks {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-top: 25%;
    text-align: center; }
  .nav-icons a:hover {
    color: #2795CA; }
  .nav-icons .nav-icon {
    color: #F0F2F2; }
  .nav-icons .is-unactive {
    color: #444444; }

.list-header {
  margin-left: 5%;
  margin-top: 7%;
  width: 100%;
  height: 20%;
  color: #ED5642; }
  .list-header a:hover {
    color: red; }
  .list-header .list-settings {
    font-size: 32px;
    float: right;
    margin-right: 15%; }
    .list-header .list-settings .fa-trash-o {
      margin-right: 10px; }

.list {
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%; }
  .list .list-component {
    font-size: 1.1vmax;
    border-bottom: solid #979797 1px;
    margin-bottom: 3%;
    padding-bottom: 3%; }
    .list .list-component a:hover {
      color: red; }
    .list .list-component .list-title {
      margin-bottom: 20px;
      color: #2795CA; }
    .list .list-component .is-selected {
      color: #BBCE28; }
    .list .list-component .list-icon {
      color: #ED5642;
      font-size: 1.1vmax;
      float: right;
      margin-right: 5%; }
    .list .list-component .is-unactive {
      color: #979797; }
