.content {
  flex-grow: 7;
  -webkit-flex-grow: 7;
}

.con-edit {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: $colorBlue;
  width: 48px;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: auto;
  a:hover {
    color: $colorGreen;
  }
}

.con-text {
  font-size: 16px;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 5%;
  padding-left: 2%;
  border-bottom: solid $colorRed 1px;
}